#footer-section{
    padding: 80px 0 70px;
    background: #2f2b35;
    text-align: center;
    .footer-up{
        display: inline-block;
        text-align: center;
        .menu-footer{
          
            .list-footer{
                display: inline-block;
                a{
                    
                    color: white;
                    font-size: 13px;
                    font-family: $font-montserrat;
                    text-transform: capitalize;
                    padding: 10px 15px;
                    text-decoration: none;
                    transition: 0.3s ease;
                    &:hover{
                        color: #a7a7a7;
                        background: none;
                    }
                }
            }
        }
    }
    .footer-down{
        color: #ffffff;
        p{
            line-height: 1.786em;
            padding: 15px 0 15px 0;
            font-family: $font-montserrat;
        }
    }
}