#two-column{
    background-color: #edf3f4 !important;
    padding: 40px 0;
    .two-title{
        text-align: center;
        color: #222222;
        font-size: 26px;
        font-family: $font-montserrat;
        margin-top: 40px;
    }
    .two-image{
        margin: 0 0 20px;
        a{
            color: #222222;
            text-decoration: none;
            transition: 0.3s ease;
            img{
                margin-top: 20px;
                width: 100%;
                display: inline-block;
                max-width: 100%;
                height: auto;
            }
        }
    }
    .two-post-detail{
        .two-post-title{
            color: #222222;
            overflow: hidden;
            margin: 0 0 10px;
            padding: 0;
            font-size: 18px;
            line-height: 1.2em;
            white-space: nowrap;
            text-overflow: ellipsis;
          
            font-family: $font-montserrat;
            a{
                color: #222222;
                text-decoration: none;
            }
          
        }
        .two-date{
            display: block;
            margin: 0 0 20px;
            padding: 0;
            font-family: $font-pt;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            color: #222222;
        }
        p{
            margin: 0 0 20px;
            padding: 0;
            font-size: 12px;
            font-weight: normal;
            color: #5f5f5f;
            font-family: $font-montserrat;
            line-height: 1.786em;
        }
        a{
            color: #222222;
            text-decoration: none;
            transition: 0.3s ease;
        }
    }

}